# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
payper-vk-app/node_modules

# testing
payper-vk-app/coverage

# production
payper-vk-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

payper-vk-app/npm-debug.log*
payper-vk-app/yarn-debug.log*
payper-vk-app/yarn-error.log*