.page-subscription{
    position: relative;
    margin: 0;
}

.page-background-image{
    width: 100%;
    height: 100%;
    border-radius: 0 0 23px 23px;
}

.page-title{
    font-family: Georgia;
    font-size: 1.4em;
    position: absolute;
    color: white;
    z-index: 1;
    bottom: 73%;
    margin-left: 1em;
    line-height: 1.2em;
    font-weight: bold;
}

.page-period{
    color:#a3a3a3;
    font-weight: 500;
    font-size: 0.8em;
    position: absolute;
    bottom: 70%;
    left: 6%;
    z-index: 1;
}

.page-description-header{
    color:#a3a3a3;
}

.page-description{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.page-description-panel {
    margin-left: 1.5em; 
    margin-right: 1.5em; 
}